In [5]:
import pandas as pd 
import numpy as np

In [8]:
df=pd.read_csv(r"D:\extrnal hard\ITI\Data visual\data_visual_project\data\raw_data\House Demolitions in Palestine.csv")

In [9]:
df.head(5)

,Year,Housing Units,People Left Homeless,Minors Left Homeless,Area,Type of Structure,Demolish Scope,District,Demolition Reason,Demolition carried out by
0,2021.0,8,31,14,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Al-Quds,Demolition on the pretext of unlawful construc...,NaN
1,2021.0,3,5,1,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Bethlehem,Demolition on the pretext of unlawful construc...,NaN
2,2021.0,7,18,12,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Hebron,Demolition on the pretext of unlawful construc...,NaN
3,2021.0,1,0,0,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Jenin,Demolition on the pretext of unlawful construc...,NaN
4,2021.0,16,78,33,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Jericho,Demolition on the pretext of unlawful construc...,NaN

### ` Dealing with nulls`

In [10]:
df.isna().sum()

Year                           3
Housing Units                  2
People Left Homeless           2
Minors Left Homeless           3
Area                           3
Type of Structure              3
Demolish Scope               175
District                       3
Demolition Reason              3
Demolition carried out by    220
dtype: int64

In [11]:
df.shape

(272, 10)

In [12]:
df=df.drop(columns=['Demolish Scope','Demolition carried out by'])

In [13]:
df

,Year,Housing Units,People Left Homeless,Minors Left Homeless,Area,Type of Structure,District,Demolition Reason
0,2021.0,8,31,14,The West Bank (Excluding East Jerusalem),Residential Structure,Al-Quds,Demolition on the pretext of unlawful construc...
1,2021.0,3,5,1,The West Bank (Excluding East Jerusalem),Residential Structure,Bethlehem,Demolition on the pretext of unlawful construc...
2,2021.0,7,18,12,The West Bank (Excluding East Jerusalem),Residential Structure,Hebron,Demolition on the pretext of unlawful construc...
3,2021.0,1,0,0,The West Bank (Excluding East Jerusalem),Residential Structure,Jenin,Demolition on the pretext of unlawful construc...
4,2021.0,16,78,33,The West Bank (Excluding East Jerusalem),Residential Structure,Jericho,Demolition on the pretext of unlawful construc...
...,...,...,...,...,...,...,...,...
267,2004.0,4,20,0,Gaza Strip,Residential Structure,Noth Gaza,Demolition of houses as punishment
268,2004.0,8,66,0,Gaza Strip,Residential Structure,Rafah,Demolition of houses as punishment
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,NaN,"5,498","25,730","5,998",NaN,NaN,NaN,NaN

In [14]:
df[["Housing Units"]].iloc[0:269].astype(int).sum()

Housing Units    5498
dtype: int64

In [15]:
idx=[269,270,271]

In [16]:
df.drop(idx,axis=0,inplace=True)

In [17]:
df.isna().sum()

Year                    0
Housing Units           0
People Left Homeless    0
Minors Left Homeless    1
Area                    0
Type of Structure       0
District                0
Demolition Reason       0
dtype: int64

In [18]:
df=df.fillna(0)

In [19]:
df.isna().sum()

Year                    0
Housing Units           0
People Left Homeless    0
Minors Left Homeless    0
Area                    0
Type of Structure       0
District                0
Demolition Reason       0
dtype: int64

### `Dealing with types`

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 268
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  269 non-null    float64
 1   Housing Units         269 non-null    object
 2   People Left Homeless  269 non-null    object
 3   Minors Left Homeless  269 non-null    object
 4   Area                  269 non-null    object
 5   Type of Structure     269 non-null    object
 6   District              269 non-null    object
 7   Demolition Reason     269 non-null    object
dtypes: float64(1), object(7)
memory usage: 18.9+ KB

In [21]:
num_cols=['Housing Units','People Left Homeless','Minors Left Homeless']

In [22]:
for col in num_cols :
    df[col]=df[col].astype(str)

In [23]:
for col in num_cols :
    df[col]=df[col].apply(lambda x:x.replace(',',''))

In [24]:
num_cols=['Housing Units','People Left Homeless','Minors Left Homeless','Year']

In [25]:
for col in num_cols :
    df[col]=df[col].astype(int)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 268
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  269 non-null    int32
 1   Housing Units         269 non-null    int32
 2   People Left Homeless  269 non-null    int32
 3   Minors Left Homeless  269 non-null    int32
 4   Area                  269 non-null    object
 5   Type of Structure     269 non-null    object
 6   District              269 non-null    object
 7   Demolition Reason     269 non-null    object
dtypes: int32(4), object(4)
memory usage: 14.7+ KB

In [27]:
df

,Year,Housing Units,People Left Homeless,Minors Left Homeless,Area,Type of Structure,District,Demolition Reason
0,2021,8,31,14,The West Bank (Excluding East Jerusalem),Residential Structure,Al-Quds,Demolition on the pretext of unlawful construc...
1,2021,3,5,1,The West Bank (Excluding East Jerusalem),Residential Structure,Bethlehem,Demolition on the pretext of unlawful construc...
2,2021,7,18,12,The West Bank (Excluding East Jerusalem),Residential Structure,Hebron,Demolition on the pretext of unlawful construc...
3,2021,1,0,0,The West Bank (Excluding East Jerusalem),Residential Structure,Jenin,Demolition on the pretext of unlawful construc...
4,2021,16,78,33,The West Bank (Excluding East Jerusalem),Residential Structure,Jericho,Demolition on the pretext of unlawful construc...
...,...,...,...,...,...,...,...,...
264,2004,4,24,0,Gaza Strip,Residential Structure,Deir al-Balah,Demolition of houses as punishment
265,2004,6,50,0,Gaza Strip,Residential Structure,Gaza,Demolition of houses as punishment
266,2004,2,10,0,Gaza Strip,Residential Structure,Khan Yunis,Demolition of houses as punishment
267,2004,4,20,0,Gaza Strip,Residential Structure,Noth Gaza,Demolition of houses as punishment
268,2004,8,66,0,Gaza Strip,Residential Structure,Rafah,Demolition of houses as punishment

### ` New features `

In [28]:
df["total_Homeless"]=df['People Left Homeless']+df['Minors Left Homeless']

In [29]:
df

,Year,Housing Units,People Left Homeless,Minors Left Homeless,Area,Type of Structure,District,Demolition Reason,total_Homeless
0,2021,8,31,14,The West Bank (Excluding East Jerusalem),Residential Structure,Al-Quds,Demolition on the pretext of unlawful construc...,45
1,2021,3,5,1,The West Bank (Excluding East Jerusalem),Residential Structure,Bethlehem,Demolition on the pretext of unlawful construc...,6
2,2021,7,18,12,The West Bank (Excluding East Jerusalem),Residential Structure,Hebron,Demolition on the pretext of unlawful construc...,30
3,2021,1,0,0,The West Bank (Excluding East Jerusalem),Residential Structure,Jenin,Demolition on the pretext of unlawful construc...,0
4,2021,16,78,33,The West Bank (Excluding East Jerusalem),Residential Structure,Jericho,Demolition on the pretext of unlawful construc...,111
...,...,...,...,...,...,...,...,...,...
264,2004,4,24,0,Gaza Strip,Residential Structure,Deir al-Balah,Demolition of houses as punishment,24
265,2004,6,50,0,Gaza Strip,Residential Structure,Gaza,Demolition of houses as punishment,50
266,2004,2,10,0,Gaza Strip,Residential Structure,Khan Yunis,Demolition of houses as punishment,10
267,2004,4,20,0,Gaza Strip,Residential Structure,Noth Gaza,Demolition of houses as punishment,20
268,2004,8,66,0,Gaza Strip,Residential Structure,Rafah,Demolition of houses as punishment,66

In [30]:
df[df["Year"]==2021]['Housing Units'].sum()

130

### `additions tables`

In [32]:
df2=pd.read_excel(r'D:\extrnal hard\ITI\Data visual\data_visual_project\data\raw_data\new1.xlsx')

In [33]:
df2

,Date of Demolition,Locality,District,Area,Housing Units,People left Homeless,Minors left Homeless,Type Of Sturcture
0,2022-04-13,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential
1,2022-04-13,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential
2,2022-04-12,'Ein Samia,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential
3,2022-03-23,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential
4,2022-03-23,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential
...,...,...,...,...,...,...,...,...
3235,2006-01-17,Bethlehem,Bethlehem,west-bank,1,10,7,Residental
3236,2006-01-17,Bethlehem,Bethlehem,west-bank,1,7,5,Residental
3237,2006-01-17,Beit Ta'mar,Bethlehem,west-bank,1,5,3,Residental
3238,2006-01-17,Bethlehem,Bethlehem,west-bank,1,10,7,Residental
3239,2006-01-04,al-Walajah,Bethlehem,west-bank,1,0,0,Residental

In [34]:
df2.isna().sum()

Date of Demolition      0
Locality                2
District                2
Area                    0
Housing Units           0
People left Homeless    0
Minors left Homeless    0
Type Of Sturcture       0
dtype: int64

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3240 entries, 0 to 3239
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date of Demolition    3240 non-null   datetime64[ns]
 1   Locality              3238 non-null   object
 2   District              3238 non-null   object
 3   Area                  3240 non-null   object
 4   Housing Units         3240 non-null   int64
 5   People left Homeless  3240 non-null   int64
 6   Minors left Homeless  3240 non-null   int64
 7   Type Of Sturcture     3240 non-null   object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 202.6+ KB

In [36]:
df2['Year'] = pd.to_datetime(df2['Date of Demolition']).dt.year
df2['Month'] = pd.to_datetime(df2['Date of Demolition']).dt.month
df2['Day'] = pd.to_datetime(df2['Date of Demolition']).dt.day

In [37]:
df2

,Date of Demolition,Locality,District,Area,Housing Units,People left Homeless,Minors left Homeless,Type Of Sturcture,Year,Month,Day
0,2022-04-13,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,4,13
1,2022-04-13,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,4,13
2,2022-04-12,'Ein Samia,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,4,12
3,2022-03-23,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,3,23
4,2022-03-23,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,3,23
...,...,...,...,...,...,...,...,...,...,...,...
3235,2006-01-17,Bethlehem,Bethlehem,west-bank,1,10,7,Residental,2006,1,17
3236,2006-01-17,Bethlehem,Bethlehem,west-bank,1,7,5,Residental,2006,1,17
3237,2006-01-17,Beit Ta'mar,Bethlehem,west-bank,1,5,3,Residental,2006,1,17
3238,2006-01-17,Bethlehem,Bethlehem,west-bank,1,10,7,Residental,2006,1,17
3239,2006-01-04,al-Walajah,Bethlehem,west-bank,1,0,0,Residental,2006,1,4

In [38]:
df2["Demolition Reason"]="Demolition on the pretext of unlawful construction"

In [39]:
df2

,Date of Demolition,Locality,District,Area,Housing Units,People left Homeless,Minors left Homeless,Type Of Sturcture,Year,Month,Day,Demolition Reason
0,2022-04-13,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,4,13,Demolition on the pretext of unlawful construc...
1,2022-04-13,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,4,13,Demolition on the pretext of unlawful construc...
2,2022-04-12,'Ein Samia,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,4,12,Demolition on the pretext of unlawful construc...
3,2022-03-23,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,3,23,Demolition on the pretext of unlawful construc...
4,2022-03-23,al-Mughayir,Ramallah and al-Bira,west-bank,1,0,0,Non Resedential,2022,3,23,Demolition on the pretext of unlawful construc...
...,...,...,...,...,...,...,...,...,...,...,...,...
3235,2006-01-17,Bethlehem,Bethlehem,west-bank,1,10,7,Residental,2006,1,17,Demolition on the pretext of unlawful construc...
3236,2006-01-17,Bethlehem,Bethlehem,west-bank,1,7,5,Residental,2006,1,17,Demolition on the pretext of unlawful construc...
3237,2006-01-17,Beit Ta'mar,Bethlehem,west-bank,1,5,3,Residental,2006,1,17,Demolition on the pretext of unlawful construc...
3238,2006-01-17,Bethlehem,Bethlehem,west-bank,1,10,7,Residental,2006,1,17,Demolition on the pretext of unlawful construc...
3239,2006-01-04,al-Walajah,Bethlehem,west-bank,1,0,0,Residental,2006,1,4,Demolition on the pretext of unlawful construc...

In [40]:
# idx1=list(df2[df2["Locality"]=='non'].index)
# idx1

In [41]:
df3=pd.read_excel(r'D:\extrnal hard\ITI\Data visual\data_visual_project\data\raw_data\new2.xlsx')

In [42]:
df3

,Date of Demolition,Locality,District,Area,Housing Units,People left Homeless,Minors left Homeless,Type Of Sturcture
0,2021-08-18,Ya'bad,Jenin,west-bank,1,0,0,Non Resedential
1,2018-02-03,Birqin,Jenin,west-bank,3,0,0,Non Resedential
2,2018-01-18,Jenin,Jenin,west-bank,2,5,1,Residental
3,2018-01-18,Jenin,Jenin,west-bank,1,6,2,Residental
4,2018-01-18,Jenin,Jenin,west-bank,1,5,0,Residental
...,...,...,...,...,...,...,...,...
1473,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,2,0,Residental
1474,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,10,0,Residental
1475,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,6,0,Residental
1476,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,10,0,Residental
1477,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,5,0,Residental

In [43]:
df3.isna().sum()

Date of Demolition      0
Locality                0
District                0
Area                    0
Housing Units           0
People left Homeless    0
Minors left Homeless    0
Type Of Sturcture       0
dtype: int64

In [44]:
df3['Year'] = pd.to_datetime(df3['Date of Demolition']).dt.year
df3['Month'] = pd.to_datetime(df3['Date of Demolition']).dt.month
df3['Day'] = pd.to_datetime(df3['Date of Demolition']).dt.day

In [45]:
df3

,Date of Demolition,Locality,District,Area,Housing Units,People left Homeless,Minors left Homeless,Type Of Sturcture,Year,Month,Day
0,2021-08-18,Ya'bad,Jenin,west-bank,1,0,0,Non Resedential,2021,8,18
1,2018-02-03,Birqin,Jenin,west-bank,3,0,0,Non Resedential,2018,2,3
2,2018-01-18,Jenin,Jenin,west-bank,2,5,1,Residental,2018,1,18
3,2018-01-18,Jenin,Jenin,west-bank,1,6,2,Residental,2018,1,18
4,2018-01-18,Jenin,Jenin,west-bank,1,5,0,Residental,2018,1,18
...,...,...,...,...,...,...,...,...,...,...,...
1473,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,2,0,Residental,2004,1,1
1474,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,10,0,Residental,2004,1,1
1475,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,6,0,Residental,2004,1,1
1476,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,10,0,Residental,2004,1,1
1477,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,5,0,Residental,2004,1,1

In [46]:
df3["Demolition Reason"]="Demolition for alleged military purposes"

In [47]:
df3

,Date of Demolition,Locality,District,Area,Housing Units,People left Homeless,Minors left Homeless,Type Of Sturcture,Year,Month,Day,Demolition Reason
0,2021-08-18,Ya'bad,Jenin,west-bank,1,0,0,Non Resedential,2021,8,18,Demolition for alleged military purposes
1,2018-02-03,Birqin,Jenin,west-bank,3,0,0,Non Resedential,2018,2,3,Demolition for alleged military purposes
2,2018-01-18,Jenin,Jenin,west-bank,2,5,1,Residental,2018,1,18,Demolition for alleged military purposes
3,2018-01-18,Jenin,Jenin,west-bank,1,6,2,Residental,2018,1,18,Demolition for alleged military purposes
4,2018-01-18,Jenin,Jenin,west-bank,1,5,0,Residental,2018,1,18,Demolition for alleged military purposes
...,...,...,...,...,...,...,...,...,...,...,...,...
1473,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,2,0,Residental,2004,1,1,Demolition for alleged military purposes
1474,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,10,0,Residental,2004,1,1,Demolition for alleged military purposes
1475,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,6,0,Residental,2004,1,1,Demolition for alleged military purposes
1476,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,10,0,Residental,2004,1,1,Demolition for alleged military purposes
1477,2004-01-01,Deir al-Balah,Deir al-Balah,gaza-strip,1,5,0,Residental,2004,1,1,Demolition for alleged military purposes

In [49]:
df4=pd.read_excel(r'D:\extrnal hard\ITI\Data visual\data_visual_project\data\raw_data\new3.xlsx')

In [50]:
df4

,Date of Demolition,Locality,District,Area,Housing Units,People left Homeless,Minors left Homeless,Type Of Sturcture
0,2022-03-08,Silat al-Harithiya,Jenin,west-bank,1,4,2,Residental
1,2022-03-08,Silat al-Harithiya,Jenin,west-bank,2,8,3,Residental
2,2022-02-14,Silat al-Harithiya,Jenin,west-bank,1,5,4,Residental
3,2022-02-01,Shu'fat R.C.,East Jerusalem,east-jerusalem,1,5,3,Residental
4,2021-07-08,Turmusaya,Ramallah and al-Bira,west-bank,1,7,2,Residental
...,...,...,...,...,...,...,...,...
242,2004-01-30,Silwad,Ramallah and al-Bira,west-bank,1,0,0,Residental
243,2004-01-18,Yatta,Hebron,west-bank,1,6,0,Residental
244,2004-01-15,Tulkarm R.C.,Tulkarm,west-bank,1,6,0,Residental
245,2004-01-15,Tulkarm R.C.,Tulkarm,west-bank,1,5,0,Residental
246,2004-01-15,Tulkarm R.C.,Tulkarm,west-bank,1,7,0,Residental

In [51]:
df4['Year'] = pd.to_datetime(df4['Date of Demolition']).dt.year
df4['Month'] = pd.to_datetime(df4['Date of Demolition']).dt.month
df4['Day'] = pd.to_datetime(df4['Date of Demolition']).dt.day
df4["Demolition Reason"]="Demolition of houses as punishment"

In [52]:
df4

,Date of Demolition,Locality,District,Area,Housing Units,People left Homeless,Minors left Homeless,Type Of Sturcture,Year,Month,Day,Demolition Reason
0,2022-03-08,Silat al-Harithiya,Jenin,west-bank,1,4,2,Residental,2022,3,8,Demolition of houses as punishment
1,2022-03-08,Silat al-Harithiya,Jenin,west-bank,2,8,3,Residental,2022,3,8,Demolition of houses as punishment
2,2022-02-14,Silat al-Harithiya,Jenin,west-bank,1,5,4,Residental,2022,2,14,Demolition of houses as punishment
3,2022-02-01,Shu'fat R.C.,East Jerusalem,east-jerusalem,1,5,3,Residental,2022,2,1,Demolition of houses as punishment
4,2021-07-08,Turmusaya,Ramallah and al-Bira,west-bank,1,7,2,Residental,2021,7,8,Demolition of houses as punishment
...,...,...,...,...,...,...,...,...,...,...,...,...
242,2004-01-30,Silwad,Ramallah and al-Bira,west-bank,1,0,0,Residental,2004,1,30,Demolition of houses as punishment
243,2004-01-18,Yatta,Hebron,west-bank,1,6,0,Residental,2004,1,18,Demolition of houses as punishment
244,2004-01-15,Tulkarm R.C.,Tulkarm,west-bank,1,6,0,Residental,2004,1,15,Demolition of houses as punishment
245,2004-01-15,Tulkarm R.C.,Tulkarm,west-bank,1,5,0,Residental,2004,1,15,Demolition of houses as punishment
246,2004-01-15,Tulkarm R.C.,Tulkarm,west-bank,1,7,0,Residental,2004,1,15,Demolition of houses as punishment

In [53]:
all_data=pd.concat([df2,df3,df4],axis=0,sort=True,).reset_index(drop=True)

In [54]:
all_data

,Area,Date of Demolition,Day,Demolition Reason,District,Housing Units,Locality,Minors left Homeless,Month,People left Homeless,Type Of Sturcture,Year
0,west-bank,2022-04-13,13,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,4,0,Non Resedential,2022
1,west-bank,2022-04-13,13,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,4,0,Non Resedential,2022
2,west-bank,2022-04-12,12,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,'Ein Samia,0,4,0,Non Resedential,2022
3,west-bank,2022-03-23,23,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,3,0,Non Resedential,2022
4,west-bank,2022-03-23,23,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,3,0,Non Resedential,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
4960,west-bank,2004-01-30,30,Demolition of houses as punishment,Ramallah and al-Bira,1,Silwad,0,1,0,Residental,2004
4961,west-bank,2004-01-18,18,Demolition of houses as punishment,Hebron,1,Yatta,0,1,6,Residental,2004
4962,west-bank,2004-01-15,15,Demolition of houses as punishment,Tulkarm,1,Tulkarm R.C.,0,1,6,Residental,2004
4963,west-bank,2004-01-15,15,Demolition of houses as punishment,Tulkarm,1,Tulkarm R.C.,0,1,5,Residental,2004
4964,west-bank,2004-01-15,15,Demolition of houses as punishment,Tulkarm,1,Tulkarm R.C.,0,1,7,Residental,2004

In [55]:
all_data=all_data.sort_values(by=['Date of Demolition'],ascending=False)

In [56]:
all_data

,Area,Date of Demolition,Day,Demolition Reason,District,Housing Units,Locality,Minors left Homeless,Month,People left Homeless,Type Of Sturcture,Year
0,west-bank,2022-04-13,13,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,4,0,Non Resedential,2022
1,west-bank,2022-04-13,13,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,4,0,Non Resedential,2022
2,west-bank,2022-04-12,12,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,'Ein Samia,0,4,0,Non Resedential,2022
11,west-bank,2022-03-23,23,Demolition on the pretext of unlawful construc...,Tulkarm,1,Tulkarm,0,3,0,Non Resedential,2022
18,west-bank,2022-03-23,23,Demolition on the pretext of unlawful construc...,Tulkarm,2,Tulkarm,0,3,0,Non Resedential,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
4715,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,6,Residental,2004
4716,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,10,Residental,2004
4717,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,5,Residental,2004
4708,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,4,Residental,2004
4713,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,2,Residental,2004

In [57]:
all_data.isna().sum()

Area                    0
Date of Demolition      0
Day                     0
Demolition Reason       0
District                2
Housing Units           0
Locality                2
Minors left Homeless    0
Month                   0
People left Homeless    0
Type Of Sturcture       0
Year                    0
dtype: int64

In [58]:
all_data=all_data.dropna()

In [59]:
all_data.isna().sum()

Area                    0
Date of Demolition      0
Day                     0
Demolition Reason       0
District                0
Housing Units           0
Locality                0
Minors left Homeless    0
Month                   0
People left Homeless    0
Type Of Sturcture       0
Year                    0
dtype: int64

In [60]:
all_data

,Area,Date of Demolition,Day,Demolition Reason,District,Housing Units,Locality,Minors left Homeless,Month,People left Homeless,Type Of Sturcture,Year
0,west-bank,2022-04-13,13,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,4,0,Non Resedential,2022
1,west-bank,2022-04-13,13,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,4,0,Non Resedential,2022
2,west-bank,2022-04-12,12,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,'Ein Samia,0,4,0,Non Resedential,2022
11,west-bank,2022-03-23,23,Demolition on the pretext of unlawful construc...,Tulkarm,1,Tulkarm,0,3,0,Non Resedential,2022
18,west-bank,2022-03-23,23,Demolition on the pretext of unlawful construc...,Tulkarm,2,Tulkarm,0,3,0,Non Resedential,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
4715,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,6,Residental,2004
4716,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,10,Residental,2004
4717,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,5,Residental,2004
4708,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,4,Residental,2004
4713,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,2,Residental,2004

In [61]:
all_data[all_data['Year']==2021]

,Area,Date of Demolition,Day,Demolition Reason,District,Housing Units,Locality,Minors left Homeless,Month,People left Homeless,Type Of Sturcture,Year
134,west-bank,2021-12-28,28,Demolition on the pretext of unlawful construc...,Tubas,1,Kh.Ibziq,0,12,2,Residental,2021
137,west-bank,2021-12-28,28,Demolition on the pretext of unlawful construc...,Hebron,1,Qalqas,0,12,0,Non Resedential,2021
136,west-bank,2021-12-28,28,Demolition on the pretext of unlawful construc...,Hebron,1,Qalqas,0,12,0,Residental,2021
135,west-bank,2021-12-28,28,Demolition on the pretext of unlawful construc...,Tubas,2,Kh.Ibziq,0,12,0,Non Resedential,2021
129,west-bank,2021-12-28,28,Demolition on the pretext of unlawful construc...,Qalqiliya,1,Hablah,0,12,0,Non Resedential,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
615,west-bank,2021-01-04,4,Demolition on the pretext of unlawful construc...,al-Quds,1,'Anata,0,1,0,Non Resedential,2021
616,west-bank,2021-01-04,4,Demolition on the pretext of unlawful construc...,al-Quds,1,'Anata,0,1,0,Non Resedential,2021
617,west-bank,2021-01-04,4,Demolition on the pretext of unlawful construc...,al-Quds,1,'Anata,0,1,0,Non Resedential,2021
619,west-bank,2021-01-04,4,Demolition on the pretext of unlawful construc...,al-Quds,1,'Anata,1,1,3,Residental,2021
620,west-bank,2021-01-04,4,Demolition on the pretext of unlawful construc...,Bethlehem,1,al-Khader,0,1,0,Non Resedential,2021

In [62]:
all_data["total_Homeless"]=all_data['People left Homeless']+all_data['Minors left Homeless']

c:\Users\abohassan\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
all_data

,Area,Date of Demolition,Day,Demolition Reason,District,Housing Units,Locality,Minors left Homeless,Month,People left Homeless,Type Of Sturcture,Year,total_Homeless
0,west-bank,2022-04-13,13,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,4,0,Non Resedential,2022,0
1,west-bank,2022-04-13,13,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,al-Mughayir,0,4,0,Non Resedential,2022,0
2,west-bank,2022-04-12,12,Demolition on the pretext of unlawful construc...,Ramallah and al-Bira,1,'Ein Samia,0,4,0,Non Resedential,2022,0
11,west-bank,2022-03-23,23,Demolition on the pretext of unlawful construc...,Tulkarm,1,Tulkarm,0,3,0,Non Resedential,2022,0
18,west-bank,2022-03-23,23,Demolition on the pretext of unlawful construc...,Tulkarm,2,Tulkarm,0,3,0,Non Resedential,2022,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,6,Residental,2004,6
4716,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,10,Residental,2004,10
4717,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,5,Residental,2004,5
4708,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,4,Residental,2004,4
4713,gaza-strip,2004-01-01,1,Demolition for alleged military purposes,Deir al-Balah,1,Deir al-Balah,0,1,2,Residental,2004,2

In [64]:
all_data.columns

Index(['Area', 'Date of Demolition', 'Day', 'Demolition Reason', 'District',
       'Housing Units', 'Locality', 'Minors left Homeless', 'Month',
       'People left Homeless', 'Type Of Sturcture', 'Year', 'total_Homeless'],
      dtype='object')

In [65]:
all_data=all_data.reindex(columns=['Date of Demolition','Year','Month','Day','Housing Units','Minors left Homeless','People left Homeless','total_Homeless','District','Area','Locality','Type Of Sturcture','Demolition Reason'])

In [66]:
all_data

,Date of Demolition,Year,Month,Day,Housing Units,Minors left Homeless,People left Homeless,total_Homeless,District,Area,Locality,Type Of Sturcture,Demolition Reason
0,2022-04-13,2022,4,13,1,0,0,0,Ramallah and al-Bira,west-bank,al-Mughayir,Non Resedential,Demolition on the pretext of unlawful construc...
1,2022-04-13,2022,4,13,1,0,0,0,Ramallah and al-Bira,west-bank,al-Mughayir,Non Resedential,Demolition on the pretext of unlawful construc...
2,2022-04-12,2022,4,12,1,0,0,0,Ramallah and al-Bira,west-bank,'Ein Samia,Non Resedential,Demolition on the pretext of unlawful construc...
11,2022-03-23,2022,3,23,1,0,0,0,Tulkarm,west-bank,Tulkarm,Non Resedential,Demolition on the pretext of unlawful construc...
18,2022-03-23,2022,3,23,2,0,0,0,Tulkarm,west-bank,Tulkarm,Non Resedential,Demolition on the pretext of unlawful construc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715,2004-01-01,2004,1,1,1,0,6,6,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes
4716,2004-01-01,2004,1,1,1,0,10,10,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes
4717,2004-01-01,2004,1,1,1,0,5,5,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes
4708,2004-01-01,2004,1,1,1,0,4,4,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes
4713,2004-01-01,2004,1,1,1,0,2,2,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes

In [67]:
all_data.to_csv('D:\extrnal hard\ITI\Data visual\data_visual_project\data\demo_data_fulldate.csv',index=False)

In [60]:
all_data=all_data.drop(columns=["Date of Demolition"]).reset_index(drop=True)

In [61]:
all_data

,Year,Month,Day,Housing Units,Minors left Homeless,People left Homeless,total_Homeless,District,Area,Locality,Type Of Sturcture,Demolition Reason
0,2022,4,13,1,0,0,0,Ramallah and al-Bira,west-bank,al-Mughayir,Non Resedential,Demolition on the pretext of unlawful construc...
1,2022,4,13,1,0,0,0,Ramallah and al-Bira,west-bank,al-Mughayir,Non Resedential,Demolition on the pretext of unlawful construc...
2,2022,4,12,1,0,0,0,Ramallah and al-Bira,west-bank,'Ein Samia,Non Resedential,Demolition on the pretext of unlawful construc...
3,2022,3,23,1,0,0,0,Tulkarm,west-bank,Tulkarm,Non Resedential,Demolition on the pretext of unlawful construc...
4,2022,3,23,2,0,0,0,Tulkarm,west-bank,Tulkarm,Non Resedential,Demolition on the pretext of unlawful construc...
...,...,...,...,...,...,...,...,...,...,...,...,...
4958,2004,1,1,1,0,6,6,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes
4959,2004,1,1,1,0,10,10,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes
4960,2004,1,1,1,0,5,5,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes
4961,2004,1,1,1,0,4,4,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes
4962,2004,1,1,1,0,2,2,Deir al-Balah,gaza-strip,Deir al-Balah,Residental,Demolition for alleged military purposes

In [62]:
all_data[  (all_data.Year==2022) & (all_data.Month==4) & (all_data.Area=='west-bank') & (all_data.Day==13) ]

,Year,Month,Day,Housing Units,Minors left Homeless,People left Homeless,total_Homeless,District,Area,Locality,Type Of Sturcture,Demolition Reason
0,2022,4,13,1,0,0,0,Ramallah and al-Bira,west-bank,al-Mughayir,Non Resedential,Demolition on the pretext of unlawful construc...
1,2022,4,13,1,0,0,0,Ramallah and al-Bira,west-bank,al-Mughayir,Non Resedential,Demolition on the pretext of unlawful construc...

In [63]:
year_moth_data=all_data.groupby(["Year","Month"],as_index=False).sum().drop(columns=['Day'])

In [64]:
year_moth_data[  (year_moth_data.Year==2022) & (year_moth_data.Month==3) ]

,Year,Month,Housing Units,Minors left Homeless,People left Homeless,total_Homeless
193,2022,3,39,17,41,58

In [65]:
year_data=all_data.groupby(["Year"],as_index=False).sum().drop(columns=['Month','Day'])
year_data

,Year,Housing Units,Minors left Homeless,People left Homeless,total_Homeless
0,2004,1581,0,11613,11613
1,2005,17,0,74,74
2,2006,404,78,2375,2453
3,2007,90,191,449,640
4,2008,84,234,432,666
5,2009,31,62,246,308
6,2010,98,211,431,642
7,2011,159,407,865,1272
8,2012,272,274,526,800
9,2013,419,272,532,804
10,2014,349,411,758,1169
11,2015,344,316,560,876
12,2016,678,656,1318,1974
13,2017,216,222,402,624
14,2018,210,133,288,421
15,2019,275,175,385,560
16,2020,572,318,632,950
17,2021,687,322,606,928
18,2022,166,52,116,168

In [66]:
year_data[['total_Homeless']].sum()

total_Homeless    26942
dtype: int64

In [67]:
year_data[['Housing Units']].sum()

Housing Units    6652
dtype: int64

In [68]:
all_data.groupby(["Area"],as_index=False).sum().drop(columns=['Year','Month','Day'])

,Area,Housing Units,Minors left Homeless,People left Homeless,total_Homeless
0,east-jerusalem,14,21,75,96
1,gaza-strip,1782,98,13000,13098
2,west-bank,4856,4215,9533,13748

### `test`

In [69]:
import plotly.express as px

In [70]:
px.pie(all_data.groupby(["Area"],as_index=False).sum().drop(columns=['Year','Month','Day']),values='total_Homeless',names='Area',hole=.3,hover_data=['Housing Units'])

In [71]:
px.line(year_data,x="Year", y="Housing Units",hover_data =['total_Homeless','People left Homeless','Minors left Homeless'])

### `final data`

In [72]:
months= {1:"January",2:"February",3:"March ",4:"April",5:"May",6:"June ",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December"}

In [74]:
all_data[['Month']]=all_data[['Month']].replace(months)

In [76]:
year_moth_data[['Month']]=year_moth_data[['Month']].replace(months)

In [78]:
year_data

,Year,Housing Units,Minors left Homeless,People left Homeless,total_Homeless
0,2004,1581,0,11613,11613
1,2005,17,0,74,74
2,2006,404,78,2375,2453
3,2007,90,191,449,640
4,2008,84,234,432,666
5,2009,31,62,246,308
6,2010,98,211,431,642
7,2011,159,407,865,1272
8,2012,272,274,526,800
9,2013,419,272,532,804
10,2014,349,411,758,1169
11,2015,344,316,560,876
12,2016,678,656,1318,1974
13,2017,216,222,402,624
14,2018,210,133,288,421
15,2019,275,175,385,560
16,2020,572,318,632,950
17,2021,687,322,606,928
18,2022,166,52,116,168

In [79]:
year_data.to_csv('D:\\extrnal hard\\ITI\Data visual\\data_visual_project\\data\\year_demolitions.csv',index=False)

In [80]:
year_moth_data.to_csv('D:\\extrnal hard\\ITI\Data visual\\data_visual_project\\data\\year_month_demolitions.csv',index=False)

In [81]:
all_data.to_csv('D:\\extrnal hard\\ITI\Data visual\\data_visual_project\\data\\new_demolitions_data.csv',index=False)